*{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

:root{

    /* Brand Colors */
    --primary-color:#6D28D9;
    --primary-dark:#4C1D95;
    --secondary-color:#111827;
    --accent-color:#A855F7;

    /* Background */
    --background:#F8FAFC;
    --surface:#FFFFFF;

    /* Text */
    --text-primary:#111827;
    --text-secondary:#6B7280;
    --text-white:#FFFFFF;

    /* Border */
    --border:#E5E7EB;

    /* Success */
    --success:#22C55E;

    /* Warning */
    --warning:#F59E0B;

    /* Error */
    --danger:#EF4444;

    /* Shadow */
    --shadow:0 10px 30px rgba(0,0,0,.12);

    /* Radius */
    --radius:12px;

    /* Transition */
    --transition:.6s ease;
}

header .navbar{


    width: 100%;

    margin: 0;

    box-shadow: 0px 5px 10px var(--border);
}

header .navbar .nav-content{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: .5rem 10rem;
}


header .navbar .nav-icons{

    display: flex;
    gap: 3rem;

}


header .navbar .nav-icons a{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-decoration: none;

    padding: .3rem 1rem;
    border-radius: var(--radius);

    color: var(--text-primary);
    background-color: var(--background);


}

header .navbar button{

    display: none;

}

header .navbar .nav-contact a{



    font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-decoration: none;

    padding: .3rem 1rem;
    border-radius: var(--radius);

    border: 1px solid var(--primary-dark);

    transition: var(--transition);

}


header .navbar .nav-icons a:hover{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-decoration: none;

    padding: .3rem 1rem;
    border-radius: var(--radius);

    color: var(--text-white);
    background-color: var(--accent-color);


    transition: var(--transition);

}

header .navbar .nav-contact a:hover{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-decoration: none;

    padding: .3rem 1rem;
    border-radius: var(--radius);
    
    color: var(--text-white);
    background: linear-gradient(
    90deg,
    var(--accent-color),
    var(--primary-dark)
     );

    background-color: var(--background);

    border: 1px solid var(--border);


}

aside {

    display: none;

}

@media screen and (max-width: 900px){

    header .navbar .nav-content div{

        display: none;

    }

    .navbar {

        box-shadow: 0px 5px 10px var(--border);

    }

    header .navbar div{

        display: flex;
        justify-content: space-evenly;


    }

    header .navbar button {

        display: flex;
        justify-content: center;
        align-items: center;

        border: none;

        background-color: white;

        font-size: xx-large;

    }

    aside.active{
        
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);   

        opacity: 1;
        visibility: visible;

        transition: var(--transition);

        
    }

    aside{
    
    transition: var(--transition);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    
    position: fixed;
    top: 35%;

    left: 50%;
    transform: translate(-50%, -50%);  
    opacity: 0;
    visibility: hidden;

    transition: opacity .3s ease;

    width: min(420px, 90%);
    max-height: 90vh;
    overflow-y: auto;

    background: white;
    border-radius: 25px;
    padding: 25px;

    box-shadow: 0 0 20px rgba(239, 222, 240, 0.8);
}


    aside .nav-icons{

        display: flex;
        flex-direction: column;

        gap: 10px;
        
    }

    aside .nav-icons a{

        display: flex;
        flex-direction: column;

        background-color: var(--background);
        width: 380px;
        padding: 20px 10px;

        border: 1px solid var(--border);

        border-radius: 25px;

        text-decoration: none;

        color: var(--text-secondary);

    }

    aside .nav-icons a:hover{

        display: flex;
        flex-direction: column;

        background-color: rgb(249, 240, 250);
        width: 380px;
        padding: 20px 10px;

        border: 1px solid var(--accent-color);

        border-radius: 25px;

        text-decoration: none;

        color: var(--text-secondary);

    }

    aside .nav-icons a span{

        color: var(--text-primary);

    }

    aside .nav-contact{

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: x-large;

        background: linear-gradient(
        90deg,
        var(--accent-color),
        var(--primary-dark)
        );

        width: 380px;
        padding: 20px 10px;

        border: 1px solid var(--border);

        border-radius: 25px;

        margin-top: 15px;

    }

    aside .nav-contact a{

        text-decoration: none;
        color: var(--text-white);

    }

    aside .side-nav{

        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 180px;

        margin-bottom: 20px;

    }
    aside .side-nav button{
         display: flex;
        justify-content: center;
        align-items: center;

        border: none;

        padding: 20px;

        border-radius: 50%;

        width: 30px;
        height: 30px;

        color: var(--primary-dark);

        text-decoration: none;

        background-color: var(--background);
    }


    aside .side-nav button:hover{



        display: flex;
        justify-content: center;
        align-items: center;

        border: none;

        padding: 20px;

        border-radius: 50%;

        width: 30px;
        height: 30px;

        color: var(--text-white);

        text-decoration: none;

        background: linear-gradient(
        90deg,
        var(--accent-color),
        var(--primary-dark)
        );

        transition: var(--transition);

        cursor: pointer;
    }

    .sideBar .bar-line{

        width: 380px;

        background-color: var(--border);

        height: 1px;

        border-radius: 2px;

    }

    .sideBar .tagLine{

    color: var(--accent-color);

    display: flex;
    justify-content: flex-end;
    
    

    border-radius: 25px;

    padding: 1rem 1rem;

    margin-top: 20px;

    margin-bottom: 20px;

    margin-right: 40%;

    background-color: var(--background);
    }


}